name: 'Baidu Tieba Auto Sign'

on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 3 * * *'
 
jobs:
  sign:
    runs-on: ubuntu-latest
    steps:
      - name: '检测代码'
        uses: actions/checkout@v3
      - name: '初始化Python'
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: '安装依赖包'
        run: python -m pip install --upgrade requests
      - name: '开始签到'
        env:
          BDUSS: ${{ secrets.BDUSS }}
        run: python main.py
